<div class="section" id="about-section">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2 clearfix">
            <h1>hi there. hello. nice to meet you.</h1>
            <p>I'm Alyssa. I like to code and snowboard.</p>
            <p>Born and raised in the Pacific Northwest, I'm happy to call it my home.
                Seattle is breath-taking on a clear day, surrounded by white capped mountains.</p>
            <p>When it's raining? Even better.</p>
        </div>
    </div>
</div>

    <a class="btn btn-default" id="sidebar-toggle">Toggle Menu</a>

<div class="container">
    <ul class="col-sm-2 col-sm-offset-5 text-center list-unstyled">
        <li><a href="http://backbonejs.org/">Backbone.js</a></li>
        <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
        <li><a href="https://jquery.com/">jQuery</a></li>
        <li><a href="http://requirejs.org/">Requirejs</a></li>
        <li><a href="http://requirejs.org/docs/download.html#text">text</a></li>
        <li><a href="http://underscorejs.org/#">Underscore</a></li>
    </ul>
</div>
