<div class="section" id="about-section">
    <div class="my-photo">
        Here's a photo of me I guess
    </div>
    <div>
        <p>I'm a web developer.</p>
        <p>I enjoy problem-solving with code and contributing to projects that help other people learn and grow.</p>
        <p>When I'm not coding, you can find me gaming, snowboarding, binge watching my favorite shows, or out on the town with my friends.</p>
        <p>I feel strongly about the importance of maintaining mental health in our digital world, and how it affects every aspect of our lives.
            Want to work together? I'd love to hear from you.</p>
    </div>

    <div class="container">
        <ul class="col-sm-2 col-sm-offset-5 text-center list-unstyled">
            <li><a href="http://backbonejs.org/">Backbone.js</a></li>
            <li><a href="http://handlebarsjs.com/">Handlebars</a></li>
            <li><a href="https://jquery.com/">jQuery</a></li>
            <li><a href="http://requirejs.org/">Requirejs</a></li>
            <li><a href="http://requirejs.org/docs/download.html#text">text</a></li>
            <li><a href="http://underscorejs.org/#">Underscore</a></li>
        </ul>
    </div>
</div>

    <!--<a class="btn btn-default" id="sidebar-toggle">Toggle Menu</a>-->


