<!-- Overview, 200vh -->

<div class="section" id="intro-section">
    <div class="intro-bg">
        <div class="container-fluid">
            <div class="row-fluid" id="logo">
                <div class="col-xs-4 col-xs-offset-4 col-sm-2 col-sm-offset-5"><strong>AI</strong></div>
            </div>
            <div class="row" id="brand">
                <div class="col-xs-4 col-xs-offset-4 col-sm-8 col-sm-offset-2"><strong>Alyssa Ingersoll</strong></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 clearfix">
            <h1>hi there. hello. nice to meet you.</h1>
            <p>I'm Alyssa. I like to code and snowboard.</p>
            <p>Born and raised in the Pacific Northwest, I'm happy to call it my home.
                Seattle is breath-taking on a clear day, surrounded by white capped mountains.</p>
            <p>When it's raining? Even better.</p>
        </div>
    </div>
</div>



<!--<a class="btn btn-default" id="sidebar-toggle">Toggle Menu</a>-->