<div class="section" id="projects-section">
    <div id="projects" class="section-anchor"></div>

            <p>Here's some things I made:</p>
            <div class="projects-container">
                {{#each this}}

                <div class="thumbnail">
                    <div class="project-top">
                        <p>{{this.title}}</p>
                    </div>
                    <div class="project-middle">
                        <a href="{{this.url}}" target="_blank">
                            <object data="{{this.image}}" type="image/png">
                                <img src="assets/unsc_placeholder.png">
                            </object>
                        </a>
                    </div>
                    <div class="project-bottom">
                        <p>{{this.description}}</p>
                    </div>
                </div>

                {{/each}}

            </div> <!-- proj cont-->
</div>