<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="sidebar-nav">
        <label class="sidebar-brand">
            <a href="#">
                Alyssa Ingersoll
            </a>
        </label>
        <label><a href="#about">About</a></label>
        <label><a href="#projects">Projects</a></label>
        <label><a href="#blog">Blog</a></label>
    </div>
    <div class="sidebar-anchor"></div>

    <div class="sidebar-end">
        <div class="center-block">
            <a>
                <label>Hire me.</label>
            </a>
        </div>
        <div>
            <a href="https://github.com/Saerith" target="_blank">
                <img src="assets/github-icon.svg">
            </a>
            <a href="https://www.freecodecamp.com/saerith" target="_blank">
                <img src="assets/freecodecamp.png">
            </a>
            <a href="https://www.linkedin.com/in/alyssaingersoll" target="_blank">
                <img src="assets/webicon-linkedin.svg">
            </a>
            <a href="https://twitter.com/Pilocchii" target="_blank">
                <img src="assets/twitter-icon.png">
            </a>
            <a href="mailto:alyssa@cyberwit.ch">
                <img src="assets/webicon-mail.svg">
            </a>
        </div>


    </div>
</div>
<!-- /#sidebar-wrapper -->