<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="sidebar-nav">
        <label class="sidebar-brand nav-button" id="btn-home">
            <a href="#">
                Alyssa Ingersoll
            </a>
        </label>
        <label class="nav-button" id="btn-about"><a href="">About</a></label>
        <label class="nav-button" id="btn-projects"><a href="#">Projects</a></label>
        <label class="nav-button" id="btn-blog"><a href="#">Blog</a></label>
    </div>
    <div class="sidebar-anchor"></div>

    <div class="sidebar-end">
        <label class="nav-button"><a href="">Hire me.</a></label>

        <div>
            <a href="https://github.com/Saerith" target="_blank">
                <img src="assets/github-icon.svg">
            </a>
            <a href="https://www.freecodecamp.com/saerith" target="_blank">
                <img src="assets/freecodecamp.png">
            </a>
            <a href="https://www.linkedin.com/in/alyssaingersoll" target="_blank">
                <img src="assets/webicon-linkedin.svg">
            </a>
        </div>
        <div>
            <a href="https://twitter.com/Pilocchii" target="_blank">
                <img src="assets/twitter-icon.png">
            </a>
            <a href="mailto:alyssa@cyberwit.ch">
                <img src="assets/webicon-mail.svg">
            </a>
        </div>


    </div>
</div>
<!-- /#sidebar-wrapper -->